In [230]:
import pandas as pd

all_courses_df = pd.read_csv("./.localdata/aua__jenza-cleaned-full.csv")
all_courses_df[:2]

,Section,Session,Credits,Campus,Instructor,Times,Subject Code,Course Number,Course Title,Building,Room
0,0,15w,0,AUA Main Campus,Vicky Herkelian,TUE 5:00pm-8:00pm TUE 5:00pm-8:00pm,BSN,020,Bridge Course II - Nursing Skills II,AUA Najarian Center,"201N, 205N"
1,UNQ,15w,3,AUA Main Campus,Nour Alayan,"MON 3:30pm-4:20pm, WED 3:30pm-5:20pm",BSN,101,Professional Nursing Practice,Paramaz Avedisian Building,Classroom 407E

In [231]:
all_courses_df["Subject Code"].value_counts()

Subject Code
FND                      131
CS                        83
BUS                       51
CHSS                      45
EC                        36
ENGS                      25
CSE                       20
PG                        19
LAW                       16
PH                        16
DS                        14
ESS                       11
IRD                       11
PA                        10
BSN                        8
ECON                       8
TEFL                       8
IESM                       7
HRSJ                       7
JRN                        4
Men\'s Tea                 3
Men's Tea                  1
GIS) and Remote Sensi      1
Name: count, dtype: int64

In [232]:
all_courses_df[all_courses_df["Subject Code"].str.startswith("GIS")]

,Section,Session,Credits,Campus,Instructor,Times,Subject Code,Course Number,Course Title,Building,Room
298,0,15W,3,AUA Main Campus,Aghavni Harutyunyan,"TUE 1:30pm-2:50pm, THU 1:30pm-2:50pm",GIS) and Remote Sensi,n,Introduction to Geographic Information Systems,Main Building,004M

In [233]:
all_courses_df.loc[all_courses_df["Subject Code"].str.startswith("GIS"), "Subject Code"] = "ESS"
all_courses_df.loc[all_courses_df["Subject Code"] == "ESS", "Course Number"] = True

In [234]:
all_courses_df["Subject Code"].value_counts()

Subject Code
FND           131
CS             83
BUS            51
CHSS           45
EC             36
ENGS           25
CSE            20
PG             19
LAW            16
PH             16
DS             14
ESS            12
IRD            11
PA             10
BSN             8
TEFL            8
ECON            8
HRSJ            7
IESM            7
JRN             4
Men\'s Tea      3
Men's Tea       1
Name: count, dtype: int64

In [235]:
all_courses_df.loc[all_courses_df["Subject Code"].str.contains("'s Tea")]

,Section,Session,Credits,Campus,Instructor,Times,Subject Code,Course Number,Course Title,Building,Room
361,AL,15w,0,AUA Main Campus,Erik Martirosyan,SAT 2:30 PM - 3:50 PM,Men's Tea,m,Physical Education: Basketball,Other,NaN
369,AS,15w,0,AUA Main Campus,Erik Martirosyan,TUE 9:00pm-10:20pm,Men\'s Tea,m,Physical Education: Football,Other,Zhogh
408,0,15w,0,AUA Main Campus,Shokhik Balyan,SAT 2:00pm-3:20pm,Men\'s Tea,m,Physical Education: Volleyball,Main Building,Main Building
409,AX,15w,0,AUA Main Campus,Shokhik Balyan,SAT 2:00pm-3:20pm,Men\'s Tea,m,Physical Education: Volleyball,Main Building,Main Building

In [236]:
all_courses_df = all_courses_df.drop(all_courses_df.loc[all_courses_df["Subject Code"].str.contains("'s Tea")].index)

In [237]:
geneds_df = pd.read_csv("./.localdata/aua__geneds-cleaned-full.csv")
geneds_df

    Subject Code Course Number Themes
0            BUS           101    4,5
1            BUS           105      5
2            BUS           109  7,8,9
3            BUS           110  7,8,9
4            BUS           112    3,6
..           ...           ...    ...
240           PH           101      7
241           PH           102    4,6
242           PH           201    4,7
243           PH           202    4,7
244           PH           203    6,7

[245 rows x 3 columns]

In [238]:
geneds_df["Subject Code"].value_counts()

Subject Code
CHSS    102
EC       35
CSE      32
ENV      15
PG       13
BUS       8
LAW       7
ESS       7
FND       6
CS        6
ECON      5
PH        5
ENGS      2
CBE       1
EPIC      1
Name: count, dtype: int64

In [239]:
all_courses_df['is_gened'] = False # by default

for i in geneds_df.index:
  gened_entry = geneds_df.loc[i]
  corresponding_offered_courses = all_courses_df.loc[
    (all_courses_df['Course Number'] == gened_entry['Course Number']) &
    (all_courses_df['Subject Code'] == gened_entry['Subject Code'])]
  if len(corresponding_offered_courses) > 0:
    for k in corresponding_offered_courses.index:
      all_courses_df.loc[k, 'is_gened'] = True
      all_courses_df.loc[k, 'Themes'] = gened_entry['Themes']

all_courses_df["is_gened"].fillna(False)
all_courses_df[:5]

,Section,Session,Credits,Campus,Instructor,Times,Subject Code,Course Number,Course Title,Building,Room,is_gened,Themes
0,0,15w,0,AUA Main Campus,Vicky Herkelian,TUE 5:00pm-8:00pm TUE 5:00pm-8:00pm,BSN,020,Bridge Course II - Nursing Skills II,AUA Najarian Center,"201N, 205N",False,NaN
1,UNQ,15w,3,AUA Main Campus,Nour Alayan,"MON 3:30pm-4:20pm, WED 3:30pm-5:20pm",BSN,101,Professional Nursing Practice,Paramaz Avedisian Building,Classroom 407E,False,NaN
2,UNQ,15w,3,AUA Main Campus,Mohamed Shehnaaz,"TUE 5:00pm-6:15pm, THU 5:00pm-6:15pm",BSN,200,Patophysiology,Paramaz Avedisian Building,407E,False,NaN
3,UNQ,15w,3,AUA Main Campus,Mohamed Shehnaaz,"MON 4:30pm-6:20pm, WED 6:00pm-6:50pm WED 6:00p...",BSN,201,Health Assessment Across Age Groups,AUA Najarian Center,201N \n205N Sim. Lab Najarian \n407E,False,NaN
4,UNQ,15w,3,AUA Main Campus,Adena Alahverdian,"TUE 4:30pm-5:45pm, THU 4:30pm-5:45pm",BSN,205,Research in Nursing,Paramaz Avedisian Building,Room 406E,False,NaN

In [240]:
all_courses_df

,Section,Session,Credits,Campus,Instructor,Times,Subject Code,Course Number,Course Title,Building,Room,is_gened,Themes
0,0,15w,0,AUA Main Campus,Vicky Herkelian,TUE 5:00pm-8:00pm TUE 5:00pm-8:00pm,BSN,020,Bridge Course II - Nursing Skills II,AUA Najarian Center,"201N, 205N",False,NaN
1,UNQ,15w,3,AUA Main Campus,Nour Alayan,"MON 3:30pm-4:20pm, WED 3:30pm-5:20pm",BSN,101,Professional Nursing Practice,Paramaz Avedisian Building,Classroom 407E,False,NaN
2,UNQ,15w,3,AUA Main Campus,Mohamed Shehnaaz,"TUE 5:00pm-6:15pm, THU 5:00pm-6:15pm",BSN,200,Patophysiology,Paramaz Avedisian Building,407E,False,NaN
3,UNQ,15w,3,AUA Main Campus,Mohamed Shehnaaz,"MON 4:30pm-6:20pm, WED 6:00pm-6:50pm WED 6:00p...",BSN,201,Health Assessment Across Age Groups,AUA Najarian Center,201N \n205N Sim. Lab Najarian \n407E,False,NaN
4,UNQ,15w,3,AUA Main Campus,Adena Alahverdian,"TUE 4:30pm-5:45pm, THU 4:30pm-5:45pm",BSN,205,Research in Nursing,Paramaz Avedisian Building,Room 406E,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
530,0,15w,3,AUA Main Campus,Irshat Madyarov,WED 9:30am-12:20pm,TEFL,308,English for Specific Purposes,AUA Najarian Center,202N,False,NaN
531,0,15w,3,AUA Main Campus,Talin Grigorian,TBD,TEFL,310,Teaching Internship,Other,NaN,False,NaN
532,0,15w,2,AUA Main Campus,Irena Galikyan,THU 3:00pm-4:15pm,TEFL,312,Teaching Test Preparation,Main Building,216M,False,NaN
533,0,15w,2,AUA Main Campus,Rubina Gasparyan,WED 12:30pm-2:20pm,TEFL,320,Introduction to Language,AUA Najarian Center,202N,False,NaN
534,0,15w,3,AUA Main Campus,Irshat Madyarov,TBD,TEFL,392,Capstone Project,Other,NaN,False,NaN

In [241]:
# Making sure that foundational courses are not marked as gened
all_courses_df.loc[all_courses_df["Subject Code"] == "FND", "is_gened"] = False

In [242]:
all_courses_df["Subject Code"].unique()

array(['BSN', 'BUS', 'CHSS', 'CS', 'CSE', 'DS', 'EC', 'ECON', 'ENGS',
       'ESS', 'FND', 'HRSJ', 'IESM', 'IRD', 'JRN', 'LAW', 'PA', 'PG',
       'PH', 'TEFL'], dtype=object)

In [243]:
# create a map of subject codes to their full names from all_courses_df["Subject Code"].unique()
subject_code_map = {
    'BSN': 'Nursing',
    'BUS': 'Business',
    'CHSS': 'Humanities and Social Sciences',
    'CS': 'Computer Science',
    'CSE': 'Computer Science and Engineering',
    'DS': 'Data Science',
    'EC': 'English & Communications',
    'ECON': 'Economics',
    'ENGS': 'Engineering',
    'ESS': 'Environmental Science and Sustainability',
    'GIS) and Remote Sensi': 'Geographic Information Systems and Remote Sensing',
    'FND': 'Foundational',
    'HRSJ': 'Human Rights and Social Justice',
    'IESM': 'International and European Studies',
    'IRD': 'Interdisciplinary Research Design',
    'JRN': 'Journalism',
    'LAW': 'Law',
    'PA': 'Public Affairs',
    'PG': 'Politics & Governance',
    'PH': 'Public Health',
    'TEFL': 'Teaching English as a Foreign Language',
}

In [244]:
# map courses to their full names
all_courses_df['Major/Concentration Name'] = all_courses_df['Subject Code'].map(subject_code_map)

In [245]:
all_courses_df.sample(5)

,Section,Session,Credits,Campus,Instructor,Times,Subject Code,Course Number,Course Title,Building,Room,is_gened,Themes,Major/Concentration Name
407,S,15w,0,AUA Main Campus,Shokhik Balyan,SAT 12:30 PM - 1:50 PM,FND,110VB,Physical Education: Volleyball,Main Building,Alec Manoogian Main Building,False,NaN,Foundational
239,0,15W,3,AUA Main Campus,Rafik Santrosyan,"MON 1:30pm-2:20pm, WED 1:30pm-2:20pm, FRI 1:30...",EC,151,Consecutive and Simultaneous Interpreting,Paramaz Avedisian Building,106E,True,1,English & Communications
498,B,15w,3,AUA Main Campus,Samvel Farmanyan,"MON 12:30pm-1:20pm, WED 12:30pm-1:20pm, FRI 12...",PG,113,Introduction to Armenian Government,Main Building,212M,True,4,Politics & Governance
162,C,15W,3,AUA Main Campus,Monika Stepanyan,"MON 11:30am-12:20pm, WED 11:30am-12:20pm, FRI ...",CS,246,Artificial Intelligence,Paramaz Avedisian Building,Room 407E,False,NaN,Computer Science
81,0,15w,3,AUA Main Campus,Lilit Ghazaryan,MON/WED/FRI 1:30 PM - 2:15 PM,CHSS,194,Introduction to Cultural Anthropology,Paramaz Avedisian Building,Classroom 314W,True,"2,4",Humanities and Social Sciences

In [246]:
all_courses_df["Session"] = all_courses_df["Session"].str.lower()
all_courses_df.sample(5)

,Section,Session,Credits,Campus,Instructor,Times,Subject Code,Course Number,Course Title,Building,Room,is_gened,Themes,Major/Concentration Name
527,0,15w,3,AUA Main Campus,Anna Gevorgyan,MON 12:30pm-3:20pm,TEFL,301,Theoretical Foundations of Foreign/Second Lang...,AUA Najarian Center,202N,False,NaN,Teaching English as a Foreign Language
332,X,15w,3,AUA Main Campus,Karen Aghababyan,"TUE 12:30pm-1:45pm, THU 12:30pm-1:45pm",FND,101,Freshman Seminar 1,AUA Najarian Center,301N,False,Foundation,Foundational
218,B,15w,3,AUA Main Campus,Yevgenya Bazinyan,"TUE 10:30am-11:50am, THU 10:30am-11:50am",DS,227,Business Analytics for Data Science,Paramaz Avedisian Building,Room 306E,False,NaN,Data Science
162,C,15w,3,AUA Main Campus,Monika Stepanyan,"MON 11:30am-12:20pm, WED 11:30am-12:20pm, FRI ...",CS,246,Artificial Intelligence,Paramaz Avedisian Building,Room 407E,False,NaN,Computer Science
276,D,15w,1,AUA Main Campus,Vardan Hayrapetyan,THU 12:00pm-1:20pm,ENGS,132,Chemistry Lab,Paramaz Avedisian Building,409E,False,NaN,Engineering

In [247]:
all_courses_df.to_csv("./.localdata/aua__all-courses-merged.csv", index=False)